body {
    position: relative;
}

body::after {
    /* Change the `height` parameter here to match your base line-height. */
    background: url('data:image/svg+xml;utf8,<svg height="24" width="1" xmlns="http://www.w3.org/2000/svg"><rect width="1" height="0.5" style="fill:rgba(0, 255, 255, 0)" /></svg>') repeat top left;
    
    content: "";
    display: block;
    pointer-events: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    position: absolute;
}

body:active::after {
    display: none;
}
/*-------------------------------------------------------------------------------
    Global Base Styles
-------------------------------------------------------------------------------*/

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-kerning: auto;
    font-kerning: auto;
}

html {
    font-size: 65.2%;
}

body {
	padding: 0;
	margin: 0;
    font-family: $font-primary;
    font-size: 1.6rem;
    line-height: 1.5em;
}

/* Global Typography
-------------------------------------------------------------------------------*/

p {
    font-size: 1.4rem;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    font-weight: $font-weight-bold;
    color: $color-gray-blue;
    @media (min-width: $width-desktop) {
        font-size: 1.6rem;
        font-weight: $font-weight-normal;
    }
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: $font-weight-bold;
    color: $color-dark-blue;
}