/*-------------------------------------------------------------------------------
    Accordion
-------------------------------------------------------------------------------*/

.accordion {
    margin-top: 4.4rem;
    @media (min-width: $width-desktop) {
       width: 580px;
       margin-left: auto;
       margin-right: auto;
    }  
    &__question {
        position: relative;
        padding: 2rem 0;
        border-bottom: 1px solid #e1e1e1;
        cursor: pointer;
        &-title {
            color: $color-dark-blue;
            &::after {
                display: block;
                content: "";
                width: 24px;
                height: 24px;
                position: absolute;
                top: 24px;
                right: 0;
                background-image: url(/images/icon-arrow.svg);
                background-repeat: no-repeat;
            }
            &:hover {
                color: $color-soft-red;
            }
            &--active {
                &::after {
                    background-image: url(/images/icon-arrow-up.svg);
                }
            }   
        }
    }
    &__answer {
        display: none;
        padding: 2rem 0;
        &--active {
            display: block;
        }
    }
}