/*-------------------------------------------------------------------------------
    Contact Form
-------------------------------------------------------------------------------*/

.contact-form {
    width: 100%;
    @media (min-width: $width-desktop) {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 16px;
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
    &__field {
        position: relative;
        &:nth-child(1) {
            margin-bottom: 1.4rem;
        }
        @media (min-width: $width-desktop) {
           
        }
    }
    &__input {
        display: block;
        padding: 1.6rem;
        width: 100%;
        outline: none;
        box-shadow: none;
        border: 2px solid #fff;
        border-radius: 6px;
        font-size: 1.4rem;
        &--warning-input {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-color: $color-soft-red;
        }
    }
    &__warning-text {
        display: none;
        padding: 2px 6px;
        font-size: 1.2rem;
        font-weight: $font-weight-bold;
        font-style: italic;
        color: #fff;
        background-color: $color-soft-red;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        &--active {
            display: block;
        }
    }
    &__warning-icon {
        display: none;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: calc(100% - 16px) calc(100% - 16px);
        position: absolute;
        top: -24px;
        right: 0;
        z-index: 9999;
        &--error {
            display: block;
            background-image: url(/images/icon-error.svg);
        }
    }
    &__submit {
        display: block;
        width: 100%;
        padding: 1em 1.1em; 
        border: none;
        background-color: $color-soft-red;
        border: 2px solid $color-soft-red;
        border-radius: 6px;
        font-size: 1.4rem;
        line-height: 1.5em;
        font-weight: $font-weight-bold;
        color: #fff;
        transition: all 200ms;
        cursor: pointer;
        &:hover {
            color: $color-soft-red;
            border: 2px solid $color-soft-red;
            background-color: #fff;
            box-shadow: none;
        }
    }
}