/*-------------------------------------------------------------------------------
    Images
-------------------------------------------------------------------------------*/


/*-- Logo --*/
.logo .st0 {
  fill: #252b46;
}

.logo .st1 {
  fill: #5368df;
}

.logo .st2 {
  fill: #fff;
}

.logo--mobile .st0 {
  fill: #fff;
}

.logo--mobile .st1 {
  fill: #fff;
}

.logo--mobile .st2 {
  fill: #252b46;
}

/*-- Images --*/

.offset__image-container {
    display: block;
    margin-bottom: 4.8rem;
    &-right {
        display: block;
        position: relative;
        width: 100%;
        &::after {
            content: '';
            display: block;
            position: absolute;
            height: calc(45vw + 16px);
            width: calc(86% + 36px);
            right: -3.2rem;
            bottom: 0;
            z-index: -1;
            background-color: $color-soft-blue;
            border-top-left-radius: 9999px;
            border-bottom-left-radius: 9999px;
        }
        &-image {
            display: block;
            height: 100%;
            margin-left: -18px;
            width: calc(100% + 36px);
        }    
    }
    &-left {
        display: block;
        position: relative;
        width: 100%;
        &::after {
            content: '';
            display: block;
            position: absolute;
            height: calc(45vw + 32px);
            width: calc(86% + 36px);
            left: -3.2rem;
            bottom: -36px;
            z-index: -1;
            background-color: $color-soft-blue;
            border-top-right-radius: 9999px;
            border-bottom-right-radius: 9999px;
        }
        &-image {
            display: block;
            height: 100%;
            width: 100%;
        }    
    }
}

/*-- Footer Logo --*/

.footer-brand {
  padding-bottom: 2.4rem;
  &__logo {
    display: block;
    width: 160px;
    margin: 0 auto;
  }
}