/*-------------------------------------------------------------------------------
    Navigation
-------------------------------------------------------------------------------*/

/* -- Navbar Toggle --*/
.navbar-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 24px;
    cursor: pointer;
    @media (min-width: $width-desktop) {
        display: none;
    }
}

.navbar-toggle__bar {
    width: inherit;
    height: 4px;
    background-color: $color-dark-blue;
    transition: all 200ms;
}

.navbar-toggle__bar--close {
    background-color: #fff;
}

.navbar-toggle__bar--close:nth-of-type(1) {
    transform: translateY(10px) rotate(45deg);
}
.navbar-toggle__bar--close:nth-of-type(2) {
    opacity: 0;
}

.navbar-toggle__bar--close:nth-of-type(3) {
    transform: translateY(-10px) rotate(-45deg);
}

/* -- Navbar --*/
.navbar {
    display: none;
    &--active {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc(100vh - 96px);
    }
    @media (min-width: $width-desktop) {
        display: flex;
        justify-content: flex-end;
        width: 50%;
        padding: 0;
    }
}

.navlinks {
    margin: 48px 0 0;
    padding: 0;
    text-align: center;
    @media (min-width: $width-desktop) {
        display: inline-flex;
        align-items: center;
        margin: 0;
    }
    &__items {
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        list-style-type: none;
        @media (min-width: $width-desktop) {
            border: none;
            &:nth-of-type(3) {
                padding-right: 16px;
            }
        }
    }
    &__link {
        display: block;
        padding: 24px 0;
        font-size: 1.8rem;
        font-weight: $font-weight-normal;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        letter-spacing: 0.2ch;
        @media (min-width: $width-desktop) {
            display: block;
            padding: 16px 24px;
            font-size: 1.4rem;
            font-weight: $font-weight-normal;
            text-transform: uppercase;
            text-decoration: none;
            color: $color-dark-blue;
            letter-spacing: 0.2ch;
            transition: all 300ms;
            &:hover {
                color: $color-soft-red;
            }
        }
    }
    &__link-login {
        margin-top: 36px;
        padding: 12px 0;
        border: 3px solid #fff;
        border-radius: 5px;
        @media (min-width: $width-desktop) {
            background-color: $color-soft-red;
            margin: 0;
            padding: 8px 30px;
            font-weight: $font-weight-bold;
            color: #fff;
            border: 2px solid transparent;
            -webkit-box-shadow: 0px 6px 18px -9px rgba(0,0,0,0.6);
            -moz-box-shadow: 0px 6px 18px -9px rgba(0,0,0,0.6);
            box-shadow: 0px 6px 18px -9px rgba(0,0,0,0.6);
            transition: all 300ms;
            &:hover {
                color: $color-soft-red;
                border: 2px solid $color-soft-red;
                background-color: #fff;
                box-shadow: none;
            }
        }
    }
}

.navlinkSocial {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 48px;
    @media (min-width: $width-desktop) {
        display: none;
    }
    &__link {
        display: block;
        padding: 24px;
    }
}


/*-- FooterNavbar --*/

@media (min-width: $width-desktop) {
    .footerNavbar {
        margin: 0 0 0 16px;
        flex-grow: 1; 
    }
}

.footerNavlinks {
    margin: 0 0 3.2rem;
    padding: 0;
    @media (min-width: $width-desktop) {
        display: flex;      
    }
    &__items {
        text-align: center;
        list-style-type: none;
    }
    &__link {
        display: block;
        padding: 0.8rem 0;
        font-size: 1.4rem;
        text-transform: uppercase;
        letter-spacing: 0.2ch;
        color: #fff;
        &:hover {
            color: $color-soft-red;
        }
        @media (min-width: $width-desktop) {
            padding: 2px 16px;
        }
    }
}